.root {
  background-color: #dda15e;
  padding: 10px 0;
  border-bottom: 1px solid #d69d5b;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #bc6c25;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    background-color: #743a08;
  }
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}


.auth__button {
	background-color: #bc6c25 !important;
	color: #fff !important;
	border-color: #bc6c25 !important;
	position: relative; 
	overflow-x: hidden;
}

.auth__button .flare {
	position: absolute;
	top: 0;
	height: 100%;
	width: 45px;
	transform: skewX(-45deg); // Наклон
	animation: flareAnimation;
	left: -150%;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
	animation: flareAnimation 3s infinite linear; // Время и тип анимации можно менять
}

@keyframes flareAnimation {
	0% {
			left: -150%;
	}
	100% {
			left: 150%;
	}
}