.title {
	background-color: #bc6c25;
	border-top-left-radius: 10%;
	border-top-right-radius:10%;
	color: #fff;
	font-size: 20px !important;
	font-weight: 700;
	text-align: center;
	padding: 5px 0;
}

.tag:hover {
	background-color: #bc6c25;
}